body {
    background: #DBE3E9;
    font-family: LagunaC;
}

h1 {
    font-size: 20px;
    font-family: LagunaC;
    color: #301c1b;    
}

h2 {
    font-size: 15px;
}

li {
    margin: 5px;
    font-size: 15px;
}

ol, ul {
    padding: 10px;
    font-size: 15px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.content-left {
    padding: 20px;
    border: 20px solid #b6cbe7;
    width: 70%;
    background: #E1E5Ac;
    margin: 10px;
    border-radius: 10px;
}

.content-right {
    padding: 20px;
    width: 20%;
    background: #b6cbe7;
    margin: 10px;
    border-radius: 10px;
}

.img {
    width: 300px;
    height: 600px;
}
.header {
    background-color: #b6cbe7;
    line-height: 24px;
    padding: 15px;
    text-align: center;
    justify-content: space-between;
    border: 5px solid #6aa6da;
    border-radius: 10px;
    word-spacing: 30px;
    
}

.block-common {
    width: 200px;
    height: 200px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: #E1E5Ac;
    margin: 50 auto;
}

.container {
    background-color: #6aa6da;
    height: 300px;
    display: flex;
    justify-content: center;
}

.container-2 {
    background-color: #E1E5Ac;
    height: 300px;
    display: flex;
    align-items: center;
}

.container-3 {
    background-image: url('img/1.jpg');
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-2 {
    background-color: #6aa6da;
    margin: 0 auto;
}

.block-3 {
    width: 188px;
    height: 188px;
    background-color: #6aa6da;
    margin: 13px;
}

.container-4 {
    background-color: #E1E5Ac;
    height: 600px;
}

.red {
    position: relative;
    border: 12px solid rgb(220, 102, 102);
    left: 20px;
    top: 20px;
}

.green {
    position: relative;
    border: 12px solid rgb(100, 208, 100);
    left: 150px;
    top: -40px;
}

.blue {
    position: relative;
    border: 12px solid rgb(105, 105, 207);
    left: 280px;
    top: -100px;
}

.abs-cat {
    position: fixed;
    right: 0;
    bottom: 0;
}

.abs-cat img {
    width: 300px;
    height: 300px;
}